<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendToKindle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SendToKindle.Properties.Settings>
            <setting name="KindleBindMail" serializeAs="String">
                <value>xxx@kindle.com;xxx@kindle.cn</value>
            </setting>
            <setting name="KindlePushMail" serializeAs="String">
                <value>someone@someplace.com</value>
            </setting>
            <setting name="KindlePushMailPassword" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="KindlePushSmtpServer" serializeAs="String">
                <value>smtp.exmail.qq.com</value>
            </setting>
            <setting name="KindlePushSmtpServerPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="KindlePushIsUseSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </SendToKindle.Properties.Settings>
    </userSettings>
</configuration>